* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    background-color: #f0f1f1;
}

header {
    background-color: blueviolet;
    padding: 10px;
    color: #fff;
    text-align: center;
}

main {
    padding: 30px 50px;
}

.card {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    margin-top: 15px;
    border-radius: 5px;
}

.lineInput {
    display: grid;
    margin-bottom: 10px;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    width: 110px;
    border: none;
    padding: 10px;
    outline: 0;
    background-color: blueviolet;
    color: #fff;
    border-radius: 3px;
    font-weight: bold;
    transition: all ease 0.3s;
}

button:hover{
    background-color: rgb(107, 21, 187);
}

.content {
    margin-top: 15px;
}

table {
    border-collapse: collapse;
    border: 1px solid #ccc;
    width: 100%;
}

table th {
    background-color: rgb(214, 214, 214);
}
table td img {
    width: 22px;
}

.center {
    text-align: center;
}